<div class="filtered-realisations" data-locations="{{ locations }}" data-realisations="{{ realisationPins }}">

    <div class="title">
        <h1>Filtrer les réalisations</h1>
        <small>({{ count }})</small>
    </div>

    <span>Filtrer :</span>

    <div class="filters">
        {% for filter in filters %}
            <div class="filter">
                <label for="{{ filter.slug }}">
                    {{ filter.name }}
                </label>
                {% if filter.children | length %}
                    <select name="{{ filter.slug }}" id="{{ filter.slug }}">
                        {% for child in filter.children %}
                            <option value="{{ child.name }}">{{ child.name }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="checkbox" id="{{ filter.slug }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="realisations">
        {{ realisations | raw }}
    </div>

</div>