<div class="filtered-realisations" data-locations="{{ locations }}" data-realisations="{{ realisationPins }}">

    <div class="container">
        <div class="title">
            <h2>Filtrer les réalisations</h2>
            <small>{{ count }}</small>
        </div>

        <span>Filtrer :</span>

        <form class="filters">
            <div class="filter">
                <label for="">Options</label>
                <select name="options" id="">
                    {% for option in options %}
                        <option value="{{ option.id }}">
                            {{ option.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% for filter in filters %}
                <div class="filter">
                    <label for="{{ filter.slug }}">
                        {{ filter.name }}
                    </label>
                    {% if filter.children | length %}
                        <select name="{{ filter.slug }}" id="{{ filter.slug }}">
                            {% for child in filter.children %}
                                <option value="{{ child.id }}">{{ child.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            {% endfor %}
        </form>

        <div class="realisations">
            {{ realisations | raw }}
        </div>
    </div>

</div>