<div class="resource-list-filtered">
    <div class="form-input">
        <input type="text" placeholder="Rechercher">
        <div class="icon-left">
            {{ sprite_icon("search") }}
        </div>
        <div class="icon-right">
            {{ sprite_icon("cross") }}
        </div>
    </div>
    <div class="categories">
        <h2>Thèmes :</h2>
        <ul class="items">
            {% for category in categories %}
                <li data-id="{{ category.id }}">
                    {{ sprite_icon(category.icon) }}
                    <span>{{ category.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tags">
        <h2>Tags :</h2>
        <div class="container-tags">
            <ul class="items">
                <li class="active">Tout</li>
                {% for tag in tags %}
                    <li data-id="{{ tag.id }}">{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="resources">
        {% for resource in resources %}
            {{ resource.renderItem() | raw }}
        {% endfor %}
    </div>
</div>
