<div class="realisation-item">
    <figure>
        <img src="{{ main_image }}" alt="{{ title }}">
    </figure>
    <h3>{{ title }}</h3>
    <div class="badges">
    {% for badge in badges %}
        <span class="badge">{{ badge.name }}</span>
    {% endfor %}
    </div>
    <a href="{{ href }}" class="more">
        <span>Voir la réalisation</span>
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.58105" y="1.58984" width="31" height="31" rx="15.5" stroke="#06345D" stroke-width="2"/>
            <path d="M12.2774 12.2865L21.8843 12.2865M21.8843 12.2865L21.8843 21.8935M21.8843 12.2865L12.2774 21.8934" stroke="#06345D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>

</div>